html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 20%;
}

.slidecontainer {
  display: flex;
  justify-content: center;
}